.table {
  margin: 20px auto;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  border-radius: 10px;
  color: white;
}

.table th {
  font-weight: bold;
  padding: 5px;
  background: #838383;
  border: 1px solid #dddddd;
  resize: horizontal;
  overflow: hidden;
  min-width: 50px;
}

.table td {
  border: 1px solid #dddddd;
  padding: 5px;
}

.table tr:hover {
  background-color: rgb(189, 189, 117);
}

.btn {
  border-radius: 10px;
  border: none;
  padding: 5px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
